
    /* =======
    navigation bar
    ========*/
    .navigation-bar { 
      padding-left: 80px;
      padding-right: 80px;
      border-bottom-style: solid;
      border-width: 5px;
      border-bottom-color: rgba(106, 192, 19, 0.829);
      padding-bottom: 20px;
      padding-top: 10px;
    }
    ul {
      list-style-type: none;
      margin: 0;
      overflow: hidden;
      background-color: none;
      float: right;
    }
    li {
      display: inline;
    }
    
    li a {
      display: inlblock;
      color: rgb(8, 3, 3);
      text-align: center;
      padding: 10px 14px ;
      padding-top: 50px;
      text-decoration: none;
    }
    
    li a:hover {
      color: rgb(41, 12, 12);
    }
    .navigation-bar ul {
      padding: 40px;
      text-align: center;
      display:inline;
    }

/* ===== Hero SIde
======*/



body, html {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
}
.hero {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(file:///C:/Users/King%20Georgie/Desktop/Ngalaba/George%20@ngalaba/img/bkg.jpg);
  filter: brightness(90%);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 100px;
}
.hero-content {
  position: relative;
  font-family: "Monserrat", sans-serif;
  color: white;
  text-align: center;
  margin: 0.625rem;
}
.hero-title {
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 0;
}
.hero-subtitle {
  font-size: 2rem;
  font-weight: 200;
  margin-top: 1rem;
}
.hero-button {
  background-color: #ae2d59;
  color: white;
  border: 1px solid #cb376a;
  margin-top: 5rem;
  padding: 0.9375rem1.875rem;
  font-family: "Monserrat", sans-serif;
  font-size: 1.125rem;
  font-weight: 200;
  cursor: pointer;
}
.hero-button:hover {
  background-color: #cb376a;
  border: 1px solid #db7598;
}
.market-map {
  display: inline-block;
  
}
.market-map h2 {
  padding-bottom: 30px;
}
.iframe {border-style: solid;
  border-width: 20px;
  border-color: rgba(233, 236, 230, 0.829);

}
.hero-inside{
  padding-left: 100px;
  padding-right: 100px;

}

/*=====Busines Area
       ======*/

.business-area {
  margin-top: 4px; 
  background-color: rgb(241, 241, 241);

}
.featured-business{
  display: inline; 
  align-items: center;
  text-align: center;
  

}
.businessa-area-container{
  padding-left: 100px;
  padding-top: 20px;
  padding-right:80px ;
  padding-bottom: 20px;
  background-color: rgb(241, 241, 241);
  margin-top: 110px;
  margin-bottom: 10px;
  height: 300px;

}
.second-row{
  margin-top: 20px;
}
.youtube-area-heading {
  border-bottom-style: solid;
  border-width: 3px;
  border-bottom-color: rgba(106, 192, 19, 0.486);

}
.business-area-heading{
  border-bottom-style: solid;
  border-width: 3px;
  border-bottom-color: rgba(106, 192, 19, 0.596);
  margin-left: 30px;
}
.youtube-video{
    display: inline; 
    align-items:center;
    text-align: center;
    padding-top: 20px;
}

/* Slideshow container */
.slideshow-container {
  position: static;
  background: #ffffff;
}

/* Slides */
.mySlides {
  display: none;
  padding: 20px;
  text-align: center;
  border: rgb(104, 40, 10);
  border-style: solid;
  border-width: 3px;
  
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: static;
  top: 50%;
  width: auto;
  margin-top: -30px;
  padding: 16px;
  color: rgb(218, 120, 29);
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  position: absolute;
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
  color: white;
}

/* The dot/bullet/indicator container */
.dot-container {
  text-align: center;
  padding: 20px;
  background: rgb(241, 241, 241);
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

/* Add a background color to the active dot/circle */
.active, .dot:hover {
  background-color: #717171;
}

/* Add an italic font style to all quotes */
q {font-style: italic;}

/* Add a blue color to the author */
.author {color: cornflowerblue;}

/* call to action*/


.call-to-action-container-section{

  background: url(file:///C:/Users/King%20Georgie/Desktop/Ngalaba/George%20@ngalaba/img/home-section-3-bg.jpg);
}

.call-to-action-container{
  background: url(file:///C:/Users/King%20Georgie/Desktop/Ngalaba/George%20@ngalaba/img/home-section-3-bg.jpg);
  background-attachment: initial;
  background-position: center;
  background-repeat: repeat;
  position: static;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 60px;
  padding-right: 60px;
  height: 100%;
  margin-top: 10px;
  
}

.call-to-action-button{
align-items: center;
text-align: center;

}
.button {
  background-color: rgb(255, 157, 31);
  border: none;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}
  
.button:hover {
    background-color: rgb(161, 70, 9);
    color: white;
}

/*   partnership   */

.state-links a{
  color:rgba(31,28,25,0.664)
}

.state-links a:hover{
  color:rgba(106, 192, 19, 0.596);
}
.state-links-container{
  padding-bottom: 20px;
  padding-left: 60px;
  padding-right: 60px;
  padding-top:20px ;
}

/* footer */

.footer{
  margin-top: 50px;
  background-color: rgb(90, 74, 51);
  height: 120px;
  padding-bottom: 20px;
  padding-left: 120px;
  padding-right: 120px;
  padding-top:20px;
  color:white;
}